html{
    font-family: 'Roboto', sans-serif;
    
}
body{  
    max-width: 100%;
    overflow-x: hidden;
    margin-top: 13rem;
    margin-right: 13rem;
    margin-left: 13rem;
    padding: 0;
}
h1{
    font-size: 12rem;
    line-height: 100%;
    letter-spacing: 0.4rem;
    font-weight: 500;
    color: var(--darkGreen);   
}
h2{
    color: var(--darkGreen);
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 126.6%;
    margin: 0;
    padding: 0;
}


:root {
    --darkGreen:#4D523C;
    --lightGreen: #C3C6B3;
}

.header{
    z-index: 100;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 13rem;
    padding-right: 13rem;
    height: 5rem;
    display: flex;
    align-items: center;
    
    background-color: var(--lightGreen);  
}

.headerLink{
    margin-right: 9rem;
    font-size: 1.2rem;
    color: var(--darkGreen);
    text-decoration: none;
}

/* intro main page css */

.lineSeparate{
    height: 0.2rem;
    width: 12rem;
    margin-bottom: 1.2rem;
    
    background-color: var(--darkGreen);
}
.introContainer{
    display: flex;
    justify-content: space-between;
}

.coverPhotoContainer {
    position: relative;
    top: 0;
    left: 0;
  }
  .coverPhoto {
    height: 55rem;
    position: relative;
    top: 0;
    left: 0;   
  }
  .orangeBox {
    mix-blend-mode: multiply;
    position: absolute;
    top: 27.5rem;
    left: 0;
    background-color: #E7CAB8;
    height: 27.5rem;
    width: 150%;
  }

.introBottom{
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.downArrow{
    height: 7rem;
}
.coverDots{
    padding-top: 1rem;
    height: 2rem;
}

.exploreContainer{
    height: 50rem;
    width: 100%;
    background-color: #E7CAB8;
    display: flex;
    gap: 2%;
}
.exploreImage{
    width: 50%;
    height: 100%;
}



.formContainer{
    width: 50%;
    padding-bottom: 5rem;
}


.formInput{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;   
    color: var(--lightGreen);
    
    padding: 0.2rem;
    margin-bottom: 2rem;
    width: 26rem;
    height: 4rem;
    border-radius: 1rem;
    border: solid var(--darkGreen);
}

.formButton{
    background-color: var(--lightGreen);
    
    color: white;
    font-size: 2rem;
    border: none;
    width: 8rem;
    height: 4rem;
    border-radius: 15px;
}

.footerContainer{
    padding: 0;
    position: absolute;
    margin-left: -13rem;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    padding-left: 13rem;
    padding-right: 13rem;
    display: flex;
    align-items: center;
    background-color: var(--lightGreen);
}
